<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="card-body login-form">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-input-login" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-input-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </div>

  </form>
  <br>
  <a href="/signup">Sign Up Instead</a>
</div>
<script src="../public/js/login.js"></script>
